<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset="UTF-8">
    <title>Angular Base app</title>
</head>
<body>
    <div ng-controller="MainController as main">
        <button ng-click="main.setOrder('year')">Order by Year</button>
        <button ng-click="main.setOrder('title')">Order by Title</button>
        <input type="checkbox" ng-model="main.reverse"> Reverse result
        <ul>
            <li ng-repeat="movie in main.movies | orderBy:main.order:main.reverse">
                Title: {{movie.title}}
                </br>
                Year: {{movie.year}}
            </li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="src/main/main.js"></script>
    <script src="src/main/main.controller.js"></script>
</body>
</html>